body{
    background-color: #BDCDD6;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #354f50;
    border-width: 4px;
    width: 5%;
  }

  h1 {
    color: #354f50;
  }
  h3 {
    color: #6096B4;}
  body {
    color: #537e7f 
};
